/*---Setting the body properties----*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #fff;
}

.hidden-heading {
    display: none;
}


/*--------------Styling the Navbar Outlook----*/
.navalert-container{
    position: fixed;
    display: inline-flex;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navalert-container h1 {
    font-family: "Josefin Sans", sans-serif;
    width: 30%;
    color: #fff;
    transition: ease .40s;
}

/* .navalert-container h1:hover {
    background: #faea05;
    color: #013f1a;
    box-shadow: 40px 40px  rgb(85 85 85 / 20%);
    border-radius: 4px;
} */

li a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    font-family: "Josefin Sans", sans-serif;
    justify-content: flex-start;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(1, 63, 26, 1);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}
.navbar-light .navbar-nav .active .nav-link {
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    font-weight: bold;
    transition: ease .40s;
}

.navbar-light .navbar-nav .active .nav-link:hover{
    background: #faea05;
    color: #013f1a;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
    
}

/*---------Main Header and hero image styling-----*/
.hero-container {
    height: 100vh;
    width: 100%;
    background: url("../images/hero-image-japan.jpg") no-repeat center center/cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    max-height:100vh;
    max-width: 100%;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 16, 13, 0.5);
}

.main{
    background-color: transparent;
}

.main-header{
    color: #faea05;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: "Kanit", sans-serif;
    /* background: linear-gradient(20deg, #fff, hsl(56, 71%, 73%));
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(10, 16, 13, 0.5); */
}

.block-divider--green {
    width: 50%;
    height: 0.5rem;
    border: 0;
    border-radius: 25px;
    background-color: #faea05;
}

.main .lead {
    margin: 25px 0;
    color: #faea05;
}