/*---Setting the body properties----*/
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #fff;
}

.hidden-heading {
    display: none;
}

main {
    padding-top: 100px;
}


/*--------------Styling the Navbar Outlook----*/
.navalert-container{
    position: fixed;
    display: inline-flex;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navalert-container h1 {
    font-family: "Josefin Sans", sans-serif;
    width: 30%;
    color: #fff;
    transition: ease .40s;
}

/* .navalert-container h1:hover {
    background: #faea05;
    color: #013f1a;
    box-shadow: 40px 40px  rgb(85 85 85 / 20%);
    border-radius: 4px;
} */

li a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    font-family: "Josefin Sans", sans-serif;
    justify-content: flex-start;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(1, 63, 26, 1);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}
.navbar-light .navbar-nav .active .nav-link {
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    font-weight: bold;
    transition: ease .40s;
}

.navbar-light .navbar-nav .active .nav-link:hover{
    background: #faea05;
    color: #013f1a;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
    
}



/* ------------------------------ Contact Page */

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0 4% 0;
    width: 100%;
    padding: 20px;
    background-color: #013f1a;
    color: #fafafa;
}

.contact-box,
.favorite-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    margin-left: 3%;
    box-sizing: border-box;
}

.contact-us {
    display: flex;
    justify-content: left;
    border-bottom: 4px solid #faea05;
    width: 24%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


.form-section {
    display: flex;
    flex-direction: column;
    background-color: #faea05;
    padding: 20px;
    color: #013f1a;
    font-weight: bold;
    width: 70%;
}

.form-control {
    padding: 10px;
    margin-bottom: 10px;
}


.submit {
    background-color: #faea05;
    color: #013f1a;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 25%;
}

.submit:hover {
    background-color: rgba(229, 255, 0, 0.521);
}

.form-submit {
    grid-column: 1 / -1; /* Make the submit button span all columns */
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}




.vote {
    border-bottom: 4px solid #faea05;
    max-width: 52%;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 0 40px 0;
}

.favorite {
    display: flex;
    justify-content: left;
    width: 30%;
    margin-bottom: 0;
    font-weight: bold;
    border-bottom: 2px solid #faea05;
}

.places-options,
.food-options {
    max-width: 100%;
    width: 100%;
}

.places-form {
    margin: 10px 0;
    max-width: 100%;
}

.food-form {

    margin: 10px 0;
    max-width: 100%;
}

.options {
    background-color: #faea05;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;/
    justify-content: center;
    align-items: flex-start;
    width: 80%; 
    margin: 0;
    max-width: 100%;
    padding: 0;
}


.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: #013f1a;
    font-weight: bold;
}

.option input {
    margin-top: 10px;
}

.food-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
    width: 100%;
    padding: 5px 0;
    margin: 20px 0;
}

.food-box h4 {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #faea05;
    font-weight: bold;
    max-width: 20%;
}

/* ------------------------------ Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #013f1a;
    color: #fff;
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}


.footer-icons li {
    list-style-type: none;
    padding: 0 50px;
}

.footer-icons li a {
    font-size: 2rem;
    color: #fafafa;
    transition: ease .40s;
}

.footer-icons li a:hover {
    color: #faea05;
    transform: scale(1.1);
}



/* ------------------------------ Media Queries */

@media only screen and (max-width: 480px) {
    
    .contact-box,
    .favorite-box {
        width: 100%;
        margin: 10px;
    }

    .content-box {
        flex-direction: column;
    }

    .contact-us {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        padding-bottom: 10px;
    }
    

    .form-section {
        width: 100%;
        max-width: 100%;
        margin: 5px 0;
        box-shadow: 5px 5px rgba(229, 255, 0, 0.2);
    }

    .submit {
        width: 100%;
        margin-top: 20px;
        box-shadow: 3px 3px rgba(229, 255, 0, 0.2);
    }

    .form-container {
        margin-bottom: 20px;
    }

    .options {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background-color: #faea05;
        margin: 10px 0;
        padding: 0;
        max-width: 100%;
        box-shadow: 5px 5px rgba(229, 255, 0, 0.2);
    }

    .vote {
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .favorite-box h4 {
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .content-box {
        margin-bottom: 140px;
    }

    .footer-icons li {
        padding: 10px 12px 0 12px;
        margin: 0;
        list-style-type: none;
    }

    .footer-icons li a {
        color: #fafafa;
        transition: ease .40s;
        width: 100%;
        max-width: 100%;
    }
}
/*---------Main Header and hero image styling-----*/
.hero-container {
    height: 100vh;
    width: 100%;
    background: url("../images/hero-image-japan.jpg") no-repeat center center/cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    max-height:100vh;
    max-width: 100%;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 16, 13, 0.5);
}

.main{
    background-color: transparent;
    text-align: center;
}

.main-header{
    color: #faea05;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: "Josefin Sans", sans-serif;
    /* background: linear-gradient(20deg, #fff, hsl(56, 71%, 73%)); */
    /*-webkit-background-clip: text;*/
    text-shadow: 2px 2px 4px rgba(10, 180, 0, 0.8);; 
}

.block-divider--green {
    width: 50%;
    height: 0.5rem;
    border: 0;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8); /* Add shadow to divider */
    margin: 0 auto; /* Center the divider */
}

.main .lead {
    margin: 25px 0;
    color: #faea05;
    text-shadow: 5px 5px 5px rgba(10, 180, 0, 0.8); /* Add shadow to lead text */
    font-family: "Josefin Sans", sans-serif;
}

/*------Japan exploration styling---*/

.container-wrapper--yellow {
    background-color: #faea05;
}

.exploration-container {
    text-align: center;
}

/*------Japan exploration overlay styling---*/

.slide-container {
    position: relative;
}

.image {
    
    display: block;
    align-items: center;
    border-radius: 25px;
    height: auto;
    width: 100%;
    
}

 .explorationimage {
    border-radius: 25px;
    height: auto;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(55, 105, 53, 0.8);
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.slide-container:hover .overlay{
   bottom: 0;
   height: 100%;
}

.overlay-text{
    white-space: nowrap;
    color: #faea05;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay-text a {
    text-decoration: none;  
    color: #fff;
}

